* {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "inter";

}
html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
    z-index: 1;
    cursor: none;
}

/* .gap1{
    height: 200px; */
/* } */
.cursor {
    position: fixed;
    height: 20px;
    width: 20px;
    border: 5px solid white;
    border-radius: 50%;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(255, 254, 254, 0.753) 5px 3px 70px 15px;
    /* box-shadow:white 10px 5px 2px 5px; */
}
.navbar{
    display: flex;
    background-color: black;
    border-bottom: 1px solid white;
    flex-direction: row;
    justify-content: space-between;
    position: static;
    top: 0;
    align-items: center;
    width: 100%;
    z-index: 5000;
}
.navItems{
    display: flex;
    color: white;
    align-items: center;
    gap: 15px;
    margin-right: 15px;
}
.navItems a li{
    color: white;
}
.navName{
    color: white;
    font-weight: 400;
    padding: 10px 0;
    margin-left:15px;
}
.firstpage {
    background-color: black;
    position: static;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#firstpagephoto {
    /* position: absolute;
    right: 0px; */
    float: right;
    height: 100vh;
    width: 50vw;
    object-fit: cover;
    object-position: top;
}

.fptext {
    color: white;
    font-family: "inter";
    font-weight: normal;
    font-size: 4rem;
    /* position: absolute; */
    /* display: flex; */
    text-align: center;


}

.firstInfo {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.name {
    /* border: 2px solid white; */
    /* height: 35vh; */
    /* width: 33vw; */
    /* position: absolute; */
    display: flex;
    align-items: center;
    margin: 0 25px;
    /* justify-content: center; */
    flex-direction: column;
    /* top: 7vw;
    left: 8.5vw; */

}

/* 
    #greet {
        top: 0vh;

    }

    #fname {
        top: 10vh;

    }

    #lname {
        top: 20vh;

    } */

.discription {
    /* border: 2px solid white; */
    /* height: 20vh;
    width: 33vw; */
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
    /* top: 52vh;
    left: 8.5vw;
} */
}

#discrip {
    font-size: 1.8rem;
}

.workbutton {
    border: 2px solid gray;
    z-index: 5;
    height: 8vh;
    width: 25vw;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 80vh;
    left: 12.5vw; */
    transition-property: transform;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in;
}

.workbutton:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
    transform: scale(1.1);
}

.workbutton:hover a {
    color: black;

}

a {
    color: gray;
    text-decoration: none;
    font-family: "inter";
    font-size: 1.3rem;
}

/* a:hover {
        color: black;
    } */

.secondpage {
    /* min-height: 100vh; */
    /* min-height: calc(190vh); */
    width: 100%;
    position: static;
    /* background-color: rgb(24, 24, 24); */
    /* border-top: 1px solid white; */
    background-color: black;
    overflow-y: none;
    /* display: grid; */
    /* grid-template-columns: 30vw 60vw; */
    /* padding: 100px 0; */
}

.aboutTitle {
    margin-top: 60px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    text-shadow: rgba(130, 129, 129, 0.563) 2px 3px 2px;
}

.secondPageContent {
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    /* min-height:83vh; */
    justify-content: space-evenly;
    align-items: center;
}

.firstHalf {
    width: 450px;
    color: white;
    background-color: black;
    /* margin-left: 30px; */
    border-radius: 40px;
    border: 2px solid white;
}

.education {
    /* margin-left: 60px; */
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 30px;
}

.schooling {
    /* width: 550px; */
}

#educationTitle {
    font-size: 2rem;
    font-weight: 400;
}

.grade {
    margin: 20px 0 0px 0;
    font-size: 1rem;
    font-weight: 300;
}

.school {
    /* font-weight: 550; */
    font-size: large;
    /* width: 500px; */
}

.mypic {
    margin: 40px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 50%; */
    /* border: 1px solid black; */
}

#mrKnit {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 50%;
}

#msrit {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 100%;
}

.secondHalf {
    width: 450px;
    color: white;
    background-color: black;
    /* margin-left: 30px; */
    border-radius: 40px;
    /* position: relative;
    top: 150px; */
    border: 2px solid white;

}

.collegeName {
    margin-top: 40px;
    font-size: 1.8rem;
}

.thirdHalf {
    width: 450px;
    color: white;
    background-color: black;
    /* margin-left: 30px; */
    border-radius: 40px;
    /* position: relative;
    top: 150px; */
    border: 2px solid white;
}

#myPhoto {
    object-fit: cover;
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

/* #about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "inter";
    font-weight: 600;
    font-size: xx-large;
}

.about {
    display: flex;
    position: relative;
    font-family: "inter";
    font-weight: 400;
    font-size: xx-large;

    /* top: 12vh; */

.thirdpage {
    /* min-height: max-content; */
    /* height: 100vh; */
    width: 100%;
    position: static;
    background-color: #141414;
}

#thirdpagephoto {
    position: absolute;
    left: 0px;
    height: 100vh;
    width: 40vw;
    object-fit: cover;
    object-position: top;
}

.side {
    /* display: grid; */
    height: 100vh;
    width: 60vw;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* grid-template-areas: "title title"
        "head1  detail1"
        "head2 detail2"
        "head3 detail3"; */
    font-family: "inter";
    align-items: center;
    /* justify-items: center; */
}

.p3title {
    grid-area: title;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.head1 {
    grid-area: head1;
    font-size: 1.5rem;
    color: gray;
    position: relative;
    left: 10vw;

}

#chatgpt {
    filter: invert();
}

.head2 {
    grid-area: head2;
    font-size: 1.5rem;
    color: gray;
    position: relative;
    left: 10vw;
}

.head3 {
    grid-area: head3;
    font-size: 1.5rem;
    color: gray;
    position: relative;
    left: 10vw;
}

.detail1 {
    grid-area: detail1;
    font-size: 1.4rem;
}

.detail2 {
    grid-area: detail2;
    font-size: 1.4rem;
}

.detail3 {
    grid-area: detail3;
    font-size: 1.4rem;
}

.forthpage {
    padding: 50px;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-areas: "PROJECT projcts"; */

}

.PROJECTS {
    color: white;
    /* grid-area: PROJECT; */
    font-family: "inter";
    font-size: 3.5rem;
    padding: 20px;
    /* position: relative;
    left: 5vw;
    top: 15vh; */
    height: 20vh;
}

.projects {
    padding-top: 50px;
    grid-area: projcts;
    display: flex;
    font-family: "inter";
    color: white;
    flex-direction: column;
    gap: 80px;


}

.pname {
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    max-width: 360px;
}

.pdescription {
    font-weight: 100;
    flex-direction: row;
}

.fifthpage {
    height: 100vh;
    width: 100%;
    position: relative;

}

#fifthpagephoto {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* position: absolute; */
    z-index: 3;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;

}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    font-family: "inter";
    position: absolute;
    /* bottom: 60vh; */
    color: white;
    font-size: 2.7rem;
    overflow: auto;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.sixthpage {
    min-height: 100vh;
    width: 100vw;
    background-color: lightgray;
    font-family: "inter";
    position: static;
    display: flex;
    gap: 21vw;
    align-items: center;
    justify-content: center;
}

.box {
    /* position: relative;
        left: 10vw;
        top: 15vh; */
    /* border: 2px solid black; */
    height: auto;
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

#contact {
    font-size: 3rem;
    font-weight: 400;
}

.mailphone {
    display: flex;
    flex-direction: column;
    gap: 15vh;

}

.phone {
    font-weight: 500;
    font-size: 1rem;
}

.num {
    font-weight: 600;

}

.mail {
    font-weight: 600;
}

.email {
    font-weight: 500;
    font-size: 1rem;
}

.socialhandles {
    font-weight: 500;
    font-size: 2rem;
}

.box2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.handles {
    position: relative;
    color: black;
    z-index: 50;
    background-color: lightgray;
}

.projectLink {
    /* padding: 15px; */
    color: white;
    text-decoration: underline;
    font-weight: 400;
    position: relative;
    z-index: 50;
    /* background-color: black; */

}

/* .projectLink:hover{
    transform: scale(2);
    z-index: 50;
    background-color: black;
} */

#linkemoji {
    text-decoration: none;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.video {
    border: 3px solid white;
    border-radius: 20px;
    /* width:310px; */
}

.use {
    /* position: relative; */
    /* top: 700px; */
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-size: 3rem;
    text-shadow: black 3px 3px 5px;
    padding: 5px;
    margin: 5px;
}

.gridcont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Skills {
    /* position: relative;
    top: 750px;
    ; */
    display: grid;
    height: max-content;
    grid-template-areas: "cc css html py ai git ts"
        "rct java js db prog google c";
    /* box-sizing: border-box; */
    column-gap: 70px;
    row-gap: 50px;
    align-items: center;
    justify-content: center;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    overflow: hidden;
    padding: 40px;

}

.skills {
    z-index: 10;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    /* background-color: #141414; */
}

.skills:hover {
    transform: scale(1.2);
}

.myResume {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 15px 25px;
    z-index: 1000;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 2px solid rgb(97, 97, 97);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in;
}

.myResume:hover {
    transform: scale(1.1);
    /* color: rgb(255, 255, 255); */
    /* background-color: rgb(30, 29, 29); */
    color: black;
    background-color: white;
    border: 2px solid black;
}

@media screen and (max-width:1025px) {
    * {
        padding: 0px;
        margin: 0px;
        overflow-x: hidden;
        box-sizing: border-box;

    }

    .firstpage {
        background-color: black;
        position: static;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    #firstpagephoto {
        /* position: relative; */
        /* top: -110px; */
        height: 30vh;
        width: 30vh;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;


    }

    .fptext {
        width: 100vw;
        color: white;
        font-family: "inter";
        font-weight: normal;
        font-size: 3rem;
        /* display: flex; */
        text-align: center;
        /* left: 0; */


    }

    .firstInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .name {
        /* border: 2px solid white; */
        /* width: 100vw; */
        /* margin: 10px; */

        /* display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row; */
        /* gap: 0px; */
        font-size: 1rem;
        text-align: center;
        /* left: 0; */

    }




    .discriptionbox{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        /* position: relative; */
        /* left: 0; */
        /* padding: 10px; */

    }

    #discrip {
        font-size: 1.8rem;
    }

    .workbutton {
        border: 2px solid gray;
        text-align: center;
        padding: 10px 40px;
        /* display: flex; */
        /* align-items: center;
        justify-content: center; */
        width: 70%;
        transition-property: transform;
        transition-duration: 0.2s;
        transition-delay: 0.1s;
        transition-timing-function: ease-in;
    }

    .workbutton:hover {
        background-color: white;
        color: black;
        border: 2px solid white;
        transform: scale(1.1);
    }

    .workbutton:hover a {
        color: black;

    }

    a {
        color: gray;
        text-decoration: none;
        font-family: "inter";
        font-size: 1.3rem;
    }

    /* a:hover {
        color: black;
    } */

    .secondpage {
        min-height: 10vh;
        width: 100vw;
        position: static;
        /* background-color: lightgray; */
        display: flex;
        flex-direction: column;
        /* display: grid;
        grid-template-columns: 30vw 60vw; */
        /* padding: px 0; */
        align-items: center;
        background-color: black;
        border-top: 1px solid white;

    }

    .secondPageContent {
        flex-direction: column;
        gap: 0px;
    }

    .firstHalf {
        width: 100vw;
        border: 0px;
    }

    .secondHalf {
        width: 100vw;
        top: 0px;
        border: 0px;
    }

    .thirdHalf {
        width: 100vw;
        top: 0px;
        border: 0px;
    }

    #about {
        text-align: center;
        font-family: "inter";
        font-weight: 600;
        position: relative;
        top: 0vh;
        font-size: xx-large;
    }

    .about {
        padding-top: 50px;
        width: 80vw;
        display: flex;
        flex-direction: column;
        position: relative;
        font-family: "inter";
        font-weight: 400;
        font-size: x-large;

        /* top: 12vh; */
    }

    .thirdpage {
        padding: 50px 0px;
        /* height: 120vh; */
        min-height: max-content;
        width: 100vw;
        position: static;
        background-color: rgb(22, 22, 22);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* margin: 50px 0; */

    }

    #thirdpagephoto {
        /* height: 100vh;
        width: 0; */
        display: none;
    }

    .side {
        /* border: 2px solid black; */
        height: 120vh;
        display: flex;
        flex-direction: column;
        /* height: 100vh; */
        width: 100vw;
        align-items: center;
        /* justify-content: space-evenly; */
        gap: 50px;
    }

    .p3title {

        font-size: 3rem;
        font-weight: 600;
        text-align: center;
    }

    .head1 {

        font-size: 1.5rem;
        color: gray;
        left: 0;



    }

    .head2 {

        font-size: 1.5rem;
        color: gray;
        left: 0;
        top: 60px;

    }

    .head3 {

        font-size: 1.5rem;
        color: gray;
        left: 0;
        top: 120px;
        text-align: center;
    }

    .detail1 {
        text-align: center;
        position: relative;
        bottom: 230px;
        font-size: 1.4rem;
    }

    .detail2 {
        text-align: center;
        font-size: 1.4rem;
        position: relative;
        bottom: 200px;
    }

    .detail3 {
        position: relative;
        bottom: 130px;
        font-size: 1.4rem;
        text-align: center;
    }

    .forthpage {
        min-height: 100vh;
        width: 100vw;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .PROJECTS {
        color: white;
        grid-area: PROJECT;
        font-family: "inter";
        font-size: 3.5rem;
        top: 0;
        left: 0;
        height: 20vh;
    }

    .projects {
        padding-top: 0px;
        display: flex;
        font-family: "inter";
        color: white;
        flex-direction: column;
        gap: 80px;
        width: 80vw;


    }

    .pname {
        font-size: xx-large;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .pdescription {
        font-weight: 100;
    }

    .fifthpage {
        height: auto;
        width: 100vw;

    }

    #fifthpagephoto {
        width: 100%;
        height: auto;
        object-fit: cover;
        /* position: absolute; */
        z-index: 3;

    }

    .quote {
        display: flex;

        justify-content: center;
        z-index: 2;
        font-family: "inter";
        /* position: relative; */
        /* bottom: 60vh; */
        color: white;
        font-size: 0.8rem;
        overflow: auto;
        /* height: 100%; */
        text-align: center;
        width: 100%;
    }

    .sixthpage {
        min-height: 100vh;
        width: 100vw;
        background-color: lightgray;
        font-family: "inter";
        position: static;
        display: flex;
        gap: 21vw;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .box {
        /* position: relative;
        left: 10vw;
        top: 15vh; */
        /* border: 2px solid black; */
        height: auto;
        width: 80vw;
        display: flex;
        flex-direction: column;
        gap: 10vh;
    }

    #contact {
        font-size: 3rem;
        font-weight: 400;
    }

    .mailphone {
        display: flex;
        flex-direction: column;
        gap: 10vh;

    }

    .phone {
        font-weight: 500;
        font-size: 1rem;
    }

    .num {
        font-weight: 600;

    }

    .mail {
        font-weight: 600;
    }

    .email {
        font-weight: 500;
        font-size: 1rem;
    }

    .socialhandles {
        font-weight: 500;
        font-size: 2rem;
    }

    .socials {
        display: flex;
        /* border: 2px solid black; */
        width: 80%;
    }

    .box2 {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .handles {
        color: black;
    }

    .project {
        gap: 30px;
        flex-direction: column;
        text-align: center;
    }

    video {
        width: 300px;
    }

    .Skills {
        height: calc(fit-content);
        grid-template-areas: "css html"
            "py ai"
            "git java"
            "js db"
            "prog google";
        /* justify-content: space-between; */
        overflow: visible;
        z-index: 3;



    }

    .use {
        /* box-sizing: border-box;
         */
        display: block;
        font-size: 2rem;
        margin: 10px 5px 0 5px;
    }

    .cursor {
        display: none;
    }
}